[mysqld]
user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
socket                  = /run/mysqld/mysqld.sock
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
#skip-external-locking

bind-address            = 0.0.0.0

query_cache_size        = 16M

log_error = /var/log/mysql/error.log
expire_logs_days        = 10

innodb_file_per_table=ON
innodb_compression_algorithm=zlib
innodb_compression_default=ON



character-set-server  = ascii
collation-server      = ascii_general_ci
[embedded]
[mariadb]

plugin_load_add = file_key_management
loose_file_key_management_filename = /etc/mysql/encryption/keyfile
loose_file_key_management_encryption_algorithm = AES_CTR
innodb_encrypt_tables=ON
innodb_encrypt_log=ON
innodb_encrypt_temporary_tables=ON

plugin_load_add = ha_archive
plugin_load_add = ha_rocksdb

innodb_file_format = Barracuda
innodb_default_row_format = dynamic

innodb_flush_log_at_timeout = 0
innodb_doublewrite = ON
innodb_undo_directory = /var/lib/mysql/idb_undo/

aria_encrypt_tables=ON
encrypt_tmp_disk_tables=ON

[mariadb-10.3]
